//colors
$lightGreen: #7ed56f;
$mediumGreen: #55c57a;
$darkGreen: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-teritary-light: #2998ff;
$color-teritary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;



$greyDark:  #777;
$greyDark2: #999;
$greyDark3: #333;
$greyLight: #f7f7f7;
$white: #fff;
$black: #000;


//font
$defaultFontSize: 1.6rem;

//grid
$gridWidth: 114rem;

$gutterVertical: 8rem;
$gutterVerticalSmall: 6rem;
$gutterHorizontal: 6rem;
